@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper?view=aspnetcore-6.0
*@
@model IEnumerable<PeopleNotes.Classes.Note>
@{

    <a asp-action="AddOrEdit" asp-controller="Notes" class="btn btn-success text-white"><i class="fas fa-random"></i> New Note</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Text)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var n in Model)
            {
                <tr>
                    <td>@n.Text</td>
                    <td>
                        <a asp-action="AddOrEdit" asp-controller="Notes" asp-route-id="@n.NoteId" class="btn btn-success text-white"><i class="fas fa-random"></i> Edit me</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Notes" asp-route-id="@n.NoteId" class="btn btn-success text-white"><i class="fas fa-random"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
