@model PeopleNotes.Classes.Note

@{
    ViewData["Title"] = "Add or Edit";
}

<h1>Add / Edit</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoteId" />
            <input type="hidden" asp-for="PersonId" />
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Save note</button>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" asp-controller="People">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
