@model IEnumerable<PeopleNotes.Classes.Person>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="display-5 pb-3">Your people:</h1>
            <div class="row">
                <div class="col-6">
                    @if (Model != null)
                    {
                        if (Model.Count() == 0)
                        {
                            @:No people found
                        }
                        else
                        {
                            <ul class="list-group">
                                @foreach (var p in Model)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <a asp-controller="people" asp-route-id="@p.PersonId">@p.DisplayName</a>
                                        @if (p.Notes != null && p.Notes.Count > 0)
                                        {
                                            <span class="badge bg-primary rounded-pill">@p.Notes.Count</span>
                                        }
                                    </li>
                                }
                            </ul>
                        }

                        <br />
                    }
                </div>
            </div>
            <a asp-controller="People" asp-action="Create" class="btn btn-success text-white"><i class="fas fa-random"></i> Add a person</a>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-9">
                    <input type="search" class="form-control" id="SearchText" placeholder="Search for a note" name="search" />
                </div>
                <div class="col-3">
                    <button id="SearchButton" class="btn btn-primary">Search</button>
                </div>
            </div>
            <div class="row">
                <div id="SearchResults"></div>
            </div>
        </div>
    </div>

</div>